.wrapper {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.50);
}

.header {
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--secondary);
}

.body {
    padding: 0.5rem 0;
}

.modal {
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5rem 1rem;
    background-color: var(--grey-light);
    border-radius: 5px;
}

.actions {
    text-align: right;
}