.profileInfo {
    text-align: center;
    color: var(--black-light);
}

.wrapper {
    display: flex;
    padding: 2rem;
}

.profileDetails {
    flex: 1;
}

.profileCredentials {
    text-align: right;
}

.profileImage {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    background-color: var(--black-disabled);
    margin: auto 2rem;
}

.lastName {
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.firstName {
    font-size: 1.5rem;
    font-weight: 600;
}
.email {
    font-size: 0.9rem;
    font-style: italic; 
}
.username {
    font-size: 1.3rem;
    color: var(--secondary);
}