/**
* GLOBAL CSS
*/
html {
    --primary: #2d9cdb;
    --primary-dark: #006ea9;
    --primary-light: #6fcdff;
    --secondary: #eb5757;
    --secondary-dark: #b3202e;
    --secondary-light: #ff8984;
    --grey: #fafafa;
    --grey-light: #ffffff;
    --grey-secondary: #eeeeee;
    --grey-dark: #c7c7c7;
    --black: #131313;
    --black-light: #333333;
    --green-primary: #059D58;
    --green-dark: #006d2d;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    margin-top: 2.4rem;
    background-color: var(--grey-secondary);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#content {
    position: relative;
    padding: 1rem;
}

.footer {
    margin-bottom: 2rem;
}

ul li {
    list-style: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button {
    cursor: pointer;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
}

.clear {
    clear: both;
}

.right {
    float: right;
}

.left {
    float: left;
}

h1 { 
    font-size: 2.2em; 
} 

h2 { 
    font-size: 2.0em;     
} 

h3 { 
    font-size: 1.8em; 
} 

h4 { 
    font-size: 1.6em;     
} 

h5 { 
    font-size: 1.4em;     
    font-weight: 400;
} 

p { 
    font-size: 1.2em;     
}

p.small {
    font-size: 0.9em;
}

.italic {
    font-style: italic;
}

.disabled {
    color: rgba(0, 0, 0, 0.50);
}
.hidden {
    visibility: hidden;
}