.card {
    position: relative;
    width: 600px;
    max-width: 100%;
    margin: auto;
    background-color: var(--grey-light);
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.20);
    padding: 1rem;
    padding-bottom: 3rem;
}

.card.card-sm {
    width: 400px;
}

.card.card-lg {
    width: 1000px;
}

.card .card-header {
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    padding: 1rem 0;
    color: var(--secondary);
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 1.3rem;
    text-transform: uppercase;
    text-align: center;
}

.card .card-body {
    padding: 1rem 0;
}