.post_item {
    margin: 0.375rem 0;
    padding: 1rem 1rem 0 1rem;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: left;
}

.profile_header {
    display: flex;
    margin-bottom: 0.5rem;
    align-items: center;
}

.title {
    flex: 1;
    margin-left: 0.5rem;
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--primary-dark);
}

.profile_header img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.from_now {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 0.75rem;
    font-style: italic;
    color: var(--black-disabled);
}

.actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: -1rem;
    color: var(--black-disabled);
}

.actions button {
    padding: 0.5rem 1rem;
    background-color: unset;
	color: inherit;
	border: none;
	font: inherit;
	outline: inherit;
}

.actions .like:hover,
.actions .like.active {
    color: var(--blue);
}

.actions .comment:hover {
    color: var(--green-primary);
}

.delete {
    color: var(--secondary);
}

.edit, .delete {
    cursor: pointer;
    margin: 0 0.175rem;
}