nav {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary);
    color: var(--grey);
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.30);
}

nav ul {
    display: flex;
}

nav ul li {
    flex-basis: 5%;
    position: relative;
}

nav ul li:not(.search) {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 0.9rem;
    cursor: pointer;
    margin: 0 1rem;
    padding: 0.5rem 0;
}

.search {
    flex: 1;
}
.search input {
    width: 400px;
    max-width: 100%;
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media all and (max-width: 600px) {  
  nav ul {  
    flex-wrap: wrap;  
  }  
    
  nav ul li {  
    flex-basis: 50%;  
  }

}

@media all and (max-width: 400px) {  
    nav ul li {  
        flex-basis: 100%;  
    }  
    .search {  
        order: 1;  
    }  
}