.p__card {
    position: relative;
    width: 600px;
    max-width: 100%;
    border-radius: 3px;
    background-color: var(--grey-light);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    margin: auto;
}

.sm {
    width: 300px;
}

.md {
    width: 400px;
}

.lg {
    width: 1000px;
}

.fit {
    width: 100%;
}

.body {
    padding: 1rem 0;
}

.header {
    position: relative;
    border-bottom: 1px solid var(--black-light);
    padding: 0.5rem 0;
    color: var(--secondary-dark);
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 1.3rem;
    text-align: center;
}