/**
* GLOBAL CSS
*/
html {
    --red-primary: #dd2c00;
    --red-primary-light: #dd2c00BB;
    --red-dark: #a30000;
    --green-primary: #059D58;
    --green-dark: #006d2d;
    --blue-primary: #1565c0;
    --blue-dark: #003c8f;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    margin-top: 5rem;
    background-color: #eaeaea;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer {
    margin-bottom: 2rem;
}

ul li {
    list-style: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button {
    cursor: pointer;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
}

.clear {
    clear: both;
}

.right {
    float: right;
}

.left {
    float: left;
}

h1 { 
    font-size: 2.2em; 
} 

h2 { 
    font-size: 2.0em;     
} 

h3 { 
    font-size: 1.8em; 
} 

h4 { 
    font-size: 1.6em;     
} 

h5 { 
    font-size: 1.4em;     
    font-weight: 400;
} 

p { 
    font-size: 1.2em;     
}

p.small {
    font-size: 0.9em;
}

.italic {
    font-style: italic;
}

.disabled {
    color: rgba(0, 0, 0, 0.50);
}
.hidden {
    visibility: hidden;
}