.calendar-header, .calendar-body .week{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: nowrap;
    margin: 0.2rem 0;
}

.sunday:not(.disabled) {
    color: var(--red-primary);
}

.calendar-header span , .calendar-body .day {
    cursor: pointer;
    user-select: none;
    width: 3.5rem;
    padding: 0.5rem 1rem;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
}

.calendar-body .day:hover:not(.current-day) {
    background-color: #EAEAEA;
}

.current-day {
    background-color: var(--red-primary-light);
    color: #fafafa;
}

.calendar-month {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 1rem 0;
}

.current-month {
    padding: 0.5rem 1rem;
    background-color: #EAEAEA;
    text-transform: uppercase;
    min-width: 17rem;
    font-size: 1.1rem;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 2px;
}

a.prev-month, a.next-month {
    padding: 0.5rem 1rem;
    background-color: var(--green-primary);
    color: #FAFAFA;
    user-select: none;
}

a.prev-month {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

a.next-month {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}