v-modal, .v-modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;

    background-color: rgba(0, 0, 0, 0.25);
    background:rgba(0,0,0,.0);
    animation: fadeIn .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}
.modal-content {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);

    width: 600px;
    max-width: 100%;

    background-color: #FAFAFA;
    border-radius: 5px;

    box-shadow: 0 0 7px rgba(0, 0, 0, 0.50);

    opacity:0;
    animation: scaleUp 100ms cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

v-modal .modal-content.modal-sm {
    width: 400px;
}

v-modal .modal-content.modal-lg {
    width: 1000px;
}

.modal-header {
    position: relative;
    text-align: center;
    padding: 1.2rem 0;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--red-primary);
    border-bottom: 1px solid var(--red-primary-light);
}

.modal-header.modal-success {
    color: var(--green-primary);
    border-bottom: 1px solid var(--green-primary);
}

.modal-header .modal-close:hover {
    color: var(--red-primary-light);
}

.modal-body {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 3rem;
}

.modal-header .modal-close {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    padding: 0.5rem;

    font-size: 1rem;
    font-weight: 100;

    background-color: unset;
    color: grey;
}

.modal-submit {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    background-color: #333333;
    color: #FAFAFA;
    padding: 0.4rem 1rem;
    letter-spacing: 1px;
    border-radius: 5px;
    transition: background-color 100ms ease-in-out;
}

.modal-submit:hover {
    background-color: #232323;
}

.modal-body .body-alert-text {
    text-align: center;
    font-size: 1.1rem;
    margin-top: 1rem;
}


@keyframes fadeIn {
  0% {
    background:rgba(0,0,0,.0);
  }
  100% {
    background:rgba(0,0,0,.7);
  }
}

@keyframes scaleUp {
  0% {
    /* transform:scale(.8) translate(-50%, calc(-50% + 1000px)); */
    transform:scale(.8) translate(-50%, -50%);
    opacity:0;
  }
  100% {
    transform:scale(1) translate(-50%, -50%);
    /* transform:scale(1); */
    opacity:1;
  }
}