.pager {
    width: 100%;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    border-radius: 5px;
}
.pager .page {
    cursor: pointer;
    padding: 0.2rem 0.7rem;
    margin: 0 0.1rem;
    border: 1px solid rgba(0, 0, 0, 0.20);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.10);
}
.pager .page:hover {
    background-color: rgba(0, 0, 0, 0.20);
}
/* .pager .page-nos {
    flex-grow: 2;
}
.pager .next-page-btns, .pager .prev-page-btns {
    flex: 1;
}
.pager .next-page-btns {
    display: flex;
    text-align: right;
    justify-content: flex-end;
} */
.pager .page.current {
    background-color: #263238;
    color: #FAFAFA;
}