.form_input {
    width: 100%;
    margin: 1rem 0 0.3rem 0;
    text-align: center;
    font-family: inherit;
}

.input {
    width: 100%;
    padding: 0.5rem;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.30);
    border-radius: 5px;
    background-color: #fafafa;
    outline: none;
}

.theme_default {
    border: 1px solid rgba(0, 0, 0, 0);
}
.theme_primary {
    border: 1px solid var(--primary);
}
.theme_secondary {
    border: 1px solid var(--secondary);
}

.form-radio {
    padding: 0.5rem 0;
}

.form-description {
    text-align: left;
    font-size: 0.9rem;
    font-weight: 400;
    color: #131313;
    margin: 0.2rem 0;
}

.invalid-feedback {
    text-align: left;
    font-size: 0.9rem;
    font-style: italic;
    color: #DE5246;
}

.success-feedback {
    text-align: center;
    font-size: 1rem;
    color: #059D58;
}