.fab {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1rem;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
}

button.btn-primary {
    background-color: var(--red-primary);
    color: #ffffff;
    transition: background-color 100ms ease-in-out;
}

button.btn-primary:hover {
    background-color: var(--red-dark);
}

button.btn-success {
    background-color: var(--green-primary);
    color: #ffffff;
    transition: background-color 100ms ease-in-out;
}

button.btn-success:hover {
    background-color: var(--green-dark);
}