.card {
    position: relative;
    width: 600px;
    max-width: 100%;
    margin: auto;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.50);
    padding: 1rem;
    padding-bottom: 3rem;
}

.card.card-sm {
    width: 400px;
}

.card.card-lg {
    width: 1000px;
}

.card .card-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    padding: 1rem 0;
    color: #dd2c00;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 1.3rem;
    text-transform: uppercase;
    text-align: center;
}

.card .card-body {
    padding: 1rem 0;
}