.form-group {
    width: 100%;
    margin: 1rem 0 0.3rem 0;
    text-align: center;
}

.form-group label {
    font-size: 1.2rem;
    margin-right: 0.5rem;
}

.form-group input {
    width: 100%;
    padding: 0.5rem;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.50);
    border-radius: 10px;
    background-color: #fafafa;
    outline: none;
}

form input[type=submit] {
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    background-color: #059D58;
    color: #FFFFFF;
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
}

.invalid-feedback {
    font-size: 0.9rem;
    font-style: italic;
    color: #DE5246;
}

.success-feedback {
    text-align: center;
    font-size: 1rem;
    color: #059D58;
}