/**
* GLOBAL CSS
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    margin-top: 5rem;
    background-color: #FAFAFA;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul li {
    list-style: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button {
    cursor: pointer;
}

.clear {
    clear: both;
}

.right {
    float: right;
}

.left {
    float: left;
}

h1 { 
    font-size: 2.2em; 
} 

h2 { 
    font-size: 2.0em;     
} 

h3 { 
    font-size: 1.8em; 
} 

h4 { 
    font-size: 1.6em;
} 

h5 { 
    font-size: 1.4em;     
} 

p { 
    font-size: 1.2em;     
}

p.small {
    font-size: 0.9em;
}
.italic {
    font-style: italic;
}