.pager {
    width: 100%;
    margin: 1rem;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
}
.pager span, .pager a {
    cursor: pointer;
    padding: 0.2rem 0.7rem;
    margin: 0 0.1rem;
    border: 1px solid rgba(0, 0, 0, 0.20);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.10);
}
.pager .page.current {
    background-color: #1976d2;
    color: #FAFAFA;
}