.v-table {
    border-collapse: collapse;
    width: 100%;
}

.v-table th {
    background-color: #1976d2;
    color: #FAFAFA;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
}

.v-table td {
    border: 1px solid rgba(0, 0, 0, 0.10);
}

.v-table td, .v-table th {
    padding: 0.3rem;
}

.v-table tr:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.v-table button.table-action-btn {
    background-color: #059D58;
    color: #FAFAFA;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}