.landing {
    top: 2.5rem;
    left: 0;
    width: 100%;
}

.profile {
    position: fixed;
    top: 3rem;
    left: 0.5rem;
    width: 400px;
}

.container {
    margin-left: calc(400px + 1rem);
    display: flex;
}

.posts {
    margin-right: 0.5rem;
    width: 600px;
}

.suggestions {
    flex: 1;
}

.write_post {
    margin: auto;
}
