<style>
    .add-user {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
    }
</style>

<div class="user-list card card-lg">
    <div class="card-header">
        User List
        <div class="add-user">
            <button class="fab btn-secondary">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="user-list">
            <table class="v-table hidden">
                <thead>
                    <tr>
                        <th width="30%">Name</th>
                        <th width="30%">Email</th>
                        <th width="3%">Gender</th>
                        <th width="10%">Birthdate</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <v-pager></v-pager>
    <script type="text/javascript" src="/app/views/components/user/user-form.js"></script>
    <script type="text/javascript" src="/app/views/components/widgets/v-pager.js"></script>
    <script type="text/javascript" src="/app/views/components/widgets/form-group.js"></script>
</div>

<script>
class UserList extends Pipz {
    constructor ()
    {
        super();
        this.baseLink = '/users';
        this._body = document.querySelector('.card-body');
        this._table = document.querySelector("table.v-table");
        this._pager = document.querySelector('v-pager');
        this._tbodyUser = this._table.querySelector('tbody');
        this._addUser = document.querySelector('.add-user button');
        this._addUser.addEventListener('click', () => { RENDER_ELEMENT('user-form'); });
        // this._addUser.addEventListener('onSuccess', () => this.renderUserList.bind(this));
        this.renderUserList();
    }

    async renderUserList ()
    {
        try {
            const url = new URL(window.location.href);
            const page = url.searchParams.get("page");
            let query = "";
            if (page) {
                query = `?page=${page}`
            }

            const paginatedUsers = await XHRRequest.get(`/api/users${query}`);
            if (page > paginatedUsers.totalPages) {
                window.location.href = `/?page=${paginatedUsers.totalPages}`
                return;
            }
            if (paginatedUsers.data.length === 0) {
                return this.renderEmpty();
            }

            this._pager.totalPages = paginatedUsers.totalPages;
            this._pager.nextPage = paginatedUsers.nextPage;
            this._pager.prevPage = paginatedUsers.prevPage;
            this._pager.pageNumber = Number(paginatedUsers.pageNumber);
            this._pager.link = this.baseLink;
            this._pager.render();

            this._table.classList.remove('hidden');
            return this.renderUsers(paginatedUsers.data);
        } catch (err) {
            console.error(err);
            this.renderError(this._table);
        }
    }

    renderUsers (userList)
    {
        for (let i=0; i<userList.length; i++) {
            let user = userList[i];
            this._tbodyUser.appendChild(this.makeUserRow(user));
        }
    }

    makeUserRow (user)
    {
        let _userRow = document.createElement('tr');
        _userRow.appendChild(this.renderElement('td', user.name));
        _userRow.appendChild(this.renderElement('td', user.email));
        _userRow.appendChild(this.renderElement('td', user.gender));
        _userRow.appendChild(this.renderElement('td', user.birthdate));

        let userAction = `
            <button class="fab fab-sm btn-success user-edit">
                <i class="fa fa-edit"></i>
            </button>
            <button class="fab fab-sm btn-primary user-delete">
                <i class="fa fa-trash"></i>
            </button>
        `;
        _userRow.appendChild(this.renderElement('td', userAction));
        _userRow
            .querySelector('.user-edit')
            .addEventListener("click", this.editUserHandler.bind(user));
        _userRow
            .querySelector('.user-delete')
            .addEventListener("click", this.deleteUserHandler.bind(user));

        return _userRow;
    }

    editUserHandler ()
    {
        RENDER_ELEMENT('user-form');
        let _updateUser = document.querySelector('user-form');
        _updateUser.formType = "update";
        _updateUser.id = this.id;
        _updateUser.name = this.name;
        _updateUser.email = this.email;
        _updateUser.gender = this.gender;
        _updateUser.birthdate = this.birthdate;
    }

    async deleteUserHandler ()
    {
        try {
            const url = `/api/users?id=${this.id}`;
            await XHRRequest.delete(url);
            MODAL.success(`User ${this.name} was successfully deleted!`, () => {
                location.reload();
            });
        } catch(e) {
            MODAL.alert('Oops. Something went wrong');
        }
    }

    renderEmpty ()
    {
        this.renderError(this._body, 'No User/s found');
    }
}
const userList = new UserList();
</script>